<!DOCTYPE html>
<html>
<head>
    <title>《部落冲突-皇室战争》</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/12/clash.css">
</head>
<body>
<div class="container">
    <div class="hot">
        <!--请在下方写你的代码：使用模板if判断date-->
            <!--展示日期-->
          
            <p class="date"></p>
            	
            <!--展示标题-->
            <h2 class="title">{{}}</h2>
            <!--展示内容并转为全大写-->
            <p class="content">{{}}</p>
    </div>
</div>
</body>
</html>
