{% extends "star_layout.html" %}

{%block content%}
  <div class="content">
    <h3>■ 12生肖运势 ■</h3>
    <div class="stars">
      <div class="star-item">
        <a href="/sx/fortune?sx=shu"><img src="/static/images/sx01.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=niu"><img src="/static/images/sx02.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=hu"><img src="/static/images/sx03.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=tu"><img src="/static/images/sx04.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=long"><img src="/static/images/sx05.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=she"><img src="/static/images/sx06.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=ma"><img src="/static/images/sx07.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=yang"><img src="/static/images/sx08.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=hou"><img src="/static/images/sx09.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=ji"><img src="/static/images/sx10.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=gou"><img src="/static/images/sx11.png"></a>

      </div>
      <div class="star-item">
        <a href="/sx/fortune?sx=zhu"><img src="/static/images/sx12.png"></a>

      </div>
    </div>
  </div>
{%endblock%}
