{% extends "star_layout.html" %}

{%block content%}
<div class="content">
	<h3>■ 12星座运势 ■</h3>
	<div class="stars">
		<div class="star-item">
			<a href="/star/fortune?star=aries"><img src="/static/images/star01.png"></a>
			<!--在下方写你的代码-->
			<h6><!--星座运势--></h6>
			<p><!--星座贵人星座--></p>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=taurus"><img src="/static/images/star02.png"></a>
			<!--在下方写你的代码-->
			<h6><!--星座运势--></h6>
			<p><!--星座贵人星座--></p>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=gemini"><img src="/static/images/star03.png"></a>
			<!--<h6>{{stars[2]['index']}}</h6>-->
			<!--<p>{{stars[2]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=cancer"><img src="/static/images/star04.png"></a>
			<!--<h6>{{stars[3]['index']}}</h6>-->
			<!--<p>{{stars[3]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=leo"><img src="/static/images/star05.png"></a>
			<!--<h6>{{stars[4]['index']}}</h6>-->
			<!--<p>{{stars[4]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=virgo"><img src="/static/images/star06.png"></a>
			<!--<h6>{{stars[5]['index']}}</h6>-->
			<!--<p>{{stars[5]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=libra"><img src="/static/images/star07.png"></a>
			<!--<h6>{{stars[6]['index']}}</h6>-->
			<!--<p>{{stars[6]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=scorpio"><img src="/static/images/star08.png"></a>
			<!--<h6>{{stars[7]['index']}}</h6>-->
			<!--<p>{{stars[7]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=sagittarius"><img src="/static/images/star09.png"></a>
			<!--<h6>{{stars[8]['index']}}</h6>-->
			<!--<p>{{stars[8]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=capricorn"><img src="/static/images/star10.png"></a>
			<!--<h6>{{stars[9]['index']}}</h6>-->
			<!--<p>{{stars[9]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=aquarius"><img src="/static/images/star11.png"></a>
			<!--<h6>{{stars[10]['index']}}</h6>-->
			<!--<p>{{stars[10]['magnate']}}</p>-->
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=pisces"><img src="/static/images/star12.png"></a>
			<!--<h6>{{stars[11]['index']}}</h6>-->
			<!--<p>{{stars[11]['magnate']}}</p>-->
		</div>
	</div>
</div>
{%endblock%}
