{% extends "star_layout.html" %}

{%block content%}
<div class="content">
	<h3>■ 12生肖运势 ■</h3>
	<div class="stars">
		<div class="star-item">
			<a href="/sx/fortune?sx=shu"><img src="/static/images/sx01.png"></a>
			<h6>{{sx[0]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=niu"><img src="/static/images/sx02.png"></a>
			<h6>{{sx[1]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=hu"><img src="/static/images/sx03.png"></a>
			<h6>{{sx[2]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=tu"><img src="/static/images/sx04.png"></a>
			<h6>{{sx[3]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=long"><img src="/static/images/sx05.png"></a>
			<h6>{{sx[4]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=she"><img src="/static/images/sx06.png"></a>
			<h6>{{sx[5]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=ma"><img src="/static/images/sx07.png"></a>
			<h6>{{sx[6]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=yang"><img src="/static/images/sx08.png"></a>
			<h6>{{sx[7]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=hou"><img src="/static/images/sx09.png"></a>
			<h6>{{sx[8]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=ji"><img src="/static/images/sx10.png"></a>
			<h6>{{sx[9]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=gou"><img src="/static/images/sx11.png"></a>
			<h6>{{sx[10]['index']}}</h6>
		</div>
		<div class="star-item">
			<a href="/sx/fortune?sx=zhu"><img src="/static/images/sx12.png"></a>
			<h6>{{sx[11]['index']}}</h6>
		</div>
	</div>
</div>
{%endblock%}
